body
{
    background: rgb(255, 0, 106);
    align-items: center;
}
.second-hand
{
    width: 200px;
    background: black;  
    height: 3px;
    top: 50%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right;
    transition: all 0.5s;
}
.minute-hand
{
    width: 200px;
    background: black;  
    height: 5px;
    top: 50%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right;
}
.hour-hand
{
    width: 200px;
    background: black;  
    height: 6px;
    top: 50%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right;
}
