body
{
    background: url("Clock.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.hands
{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(-130px,330px);
}
.second-hand
{
    width: 250px;
    background: rgb(155, 4, 4);  
    height: 3px;
    top: 50%;
    position: absolute;
    transform-origin: right;
    transition: all 1s;
}
.minute-hand
{
    width: 250px;
    background: black;  
    height: 5px;
    top: 50%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right;
}
.hour-hand
{
    width: 250px;
    background: black;  
    height: 7px;
    scale: 20;
    top: 50%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: right;
}
